.flex-parent {
    display: flex;
}
.flex-child {
    flex: 1;
}
#search-btn {
    background-color: #1977cc;
    color: white;
    width: 50px;
}
#search-input {
    width: 200px;
}
.languages-dropdwon {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
  }
.login-btn {
    background-color: #1977cc;
    color: white !important;
    padding: 8px 10px 10px 10px !important;
}
.login-btn:hover {
    color: #1977cc !important;
}
.not-found-msg {
    color: red;
    font-weight: 600 !important;
    font-style: italic;
}
.site-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
.image-size {
    width: 100%; /* Set the width to 100% to make images responsive */
    max-width: 300px; /* Set a maximum width */
    max-height: 300px; /* Automatically adjust the height while maintaining aspect ratio */
    padding: 5px;
}
.table-text-left {
    text-align: left;
}
#fruits-table, #fruits-table th, #fruits-table td {
    border: none !important;
}
#fruits-table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#fruits-table th, #fruits-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#fruits-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#fruits-table th {
    background-color: #1977cc;
    color: white;
}
.dataTables_wrapper .dataTables_filter input:focus  {
    outline: none; /* Remove the outline (typically a blue border) on focus */
}
.dataTables_info {
    display: none;
}
#fruits-details-table th {
    width: 15%;
}
/* .table-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
} */

/* .table-container table {
    border-collapse: collapse;
    width: 100%;
} */
